
body {
    text-align: justify;
    background-color: #181b1f;
    font-family: 'Lato', 'sans-serif';
    color: #f0f0f0;
}

header {
    margin: 0 auto;
    max-width: 900px;
    padding: 2.5em 1em 0;
}

.page {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 900px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.map-container {
    width: 100%;
    height: 500px;
} 

.pie-container {
    width: 100%;
    height: 300px;
}

.vis-container {
    width: 100%;
    height: 500px;
}

.vis-container-2 {
    width: 100%;
    height: 350px;
}

.bar-container {
    width: 100%;
    height: 100px;
}

.header-container{
    display: flex;
}
.header-container img{
    align-self: center;
    margin-bottom: 20px;
    margin-left: 10px;
    max-width: 50px;
}

.header-container h1 {
    margin: 0.2em 0;
    font-size: 3.26em;
    font-weight: 550;
    font-family:'Garamond', serif; 
    padding-bottom: 0.3em;
    max-width: 900px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    background-color: #272d33;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 0.2em;
}

.pure-g h2 {
    font-size: 1.8em;
    font-weight:bold;
    margin: 0.5em 0.5em 0.5em 0;
}

.pure-g h3 {
    font-size: 1.1em;
    font-family: 'Karla', sans-serif;
    font-weight: 100;
    color:#D0CFCF;
}


.pure-g p {
    font-family: 'Lato', sans-serif;
    font-weight: 50;
    color:silver;
    font-size: smaller;
}

b {
    font-size: 1.1em;
    font-weight: bold;
}




.small-font {
    font-size: 14px;
}

#vis1 .vega-bindings{
    position: absolute;
    top: 0px;
    left: 0px;
    color: #181b1f;
}

#vis2 .vega-bindings{
    position:relative;
}

#vis3 .vega-bindings{
    position: relative;
    left: 100px;
}

#vis5 .vega-bindings{
    position: relative;
    left: 100px;
}

#vis7 .vega-bindings{
    position: relative;
    left: 100px;
}

a:visited{
    color:aquamarine;
}